{% extends 'music/base.html' %}
{% block title %}Add a New Collection!{% endblock %}

{% block body %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'music/form-template.html' %}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}