{% extends 'music/base.html' %}
{% block title %}Collection Details{% endblock %}

{% block body %}
    <img src="{{ collection.album_logo }}">

    <h1>{{ collection.title }}</h1>
    <h2>{{ collection.artist }}</h2>

    {% if error_message %}
        <span><strong>{{ error_message }}</strong></span>
    {% endif %}

{% endblock %}