{% extends 'music/base.html' %}

{% block body %}

    <ul>
        {% for album in all_collections %}
        <li><a href="{% url 'music:detail' album.id %}">{{ album.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
